<!-- app.component.html -->
<!-- <h1>{{ message }}</h1> -->
<!DOCTYPE html>
<html lang="kr">
  <head>
    <!--설정파일-->
    <!-- title -->
    <title></title>
    <meta charset="utf-8" />
    <meta name="TTONA" content="티카" />
    <meta name="description" content="티카" />
    <meta name="Author" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="티카" />
    <meta property="og:description" content="티카" />
    <meta property="og:image" content="pr.jpg" />
    <meta property="og:url" content="" />

    <!-- mobile settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,maximum-scale=1"
    />
    <!-- favicon -->
    <link rel="shortcut icon" href="images/p.ico" />
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css" />
    <!-- 부트스트랩 스타일-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
    />
    <!--구글폰트-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <!--구글아이콘 -->
    <link
      rel="stylesheet"
      href="https://webfontworld.github.io/pretendard/Pretendard.css"
    />
    <!--프레텐다드 폰트-->
    <link rel="stylesheet" href="../assets/css/swiper-bundle.css" />
    <!-- 스와이프슬라이드 -->
    <link rel="stylesheet" href="../assets/css/aos.css" />
    <!-- aos 애니메이션 -->
    <link rel="stylesheet" href="../assets/css/basicClass.css" />
    <!-- 기본값들 -->
    <link rel="stylesheet" href="../assets/css/basicStyle.css" />
    <!--개발 스타일-->
    <link rel="stylesheet" href="../assets/css/formStyle.css" />
    <!--개발 스타일-->
    <link rel="shortcut icon" href="../assets/images/favicon.png" />
    <script
      src="https://kit.fontawesome.com/6950fc9049.js"
      crossorigin="anonymous"
    ></script>
    <!--폰트어썸 아이콘-->
    <!--설정파일-->
  </head>
  <body class="h-full find-body">
    <!--상단-->
    <!--헤드-->
    <section class="head-wrap">
      <div class="head-nav">
        <div class="head-nav-left">
          <div class="menu">
            <span class="material-symbols-outlined left-btn">menu</span>
          </div>
          <div class="logo">
            <!--SAMPLELOGO-->
            <a href="index.html"
              ><img src="../assets/images/logo.png" alt=""
            /></a>
          </div>
        </div>
        <div class="head-nav-center">
          <div class="head-nav-menu">
            <div class="item mm-1" data-head-menu="1">
              <!-- 물리엔진 켜짐 라벨 표기 파일추출 노드삭제 그래프 초기화 저장 불러오기 파일조회 업로드 -->
              <a href="#">물리엔진</a><br />
              <div class="sub-nav sub-1">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-2" data-head-menu="2">
              <a href="#">라벨</a><br />
              <div class="sub-nav sub-2">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-3" data-head-menu="3">
              <a href="#">표기</a><br />
              <div class="sub-nav sub-3">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-4" data-head-menu="4">
              <a href="#">파일추출</a><br />
              <div class="sub-nav sub-4">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-5" data-head-menu="5">
              <a href="#">노드삭제</a><br />
              <div class="sub-nav sub-5">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-6" data-head-menu="6">
              <a href="#">그래프 초기화</a><br />
              <div class="sub-nav sub-6">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-7" data-head-menu="7">
              <a href="#">저장</a><br />
              <div class="sub-nav sub-7">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-8" data-head-menu="8">
              <a href="#">불러오기</a><br />
              <div class="sub-nav sub-8">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-9" data-head-menu="9">
              <a href="#">파일조회</a><br />
              <div class="sub-nav sub-9">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
            <div class="item mm-10" data-head-menu="10">
              <a href="#">업로드</a><br />
              <div class="sub-nav sub-10">
                <ul class="top-sub-menu">
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                  <li>Menu list one</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="head-nav-right">
          <div class="info">
            <a href="#">FIRSTADMIN</a>
          </div>
          <div class="btn">
            <span class="material-symbols-outlined">settings</span>
          </div>
        </div>
      </div>
    </section>

    <!--본문 전체-------------------------------------------------------------------------->

    <section class="total-wrap">
      <!--좌측 기본영역 - 가운데 영역 줄임-->
      <div class="left-box-space">
        <!--좌측 공간을잡기 위한것-->
      </div>
      <div class="left-box">
        <!--박스 전체 상단 제목-->
        <div class="box-title left-bg">
          <div class="box-title-text">Display Title</div>
          <div class="box-title-btn">
            <span class="material-symbols-outlined left-btn">arrow_back</span>
          </div>
        </div>

        <!--스크롤 위해 전체 컨텐츠 감싸기-->
        <div class="box-contents-scroll">
          <!--박스 탭-->
          <div class="box-tab left-bb nav nav-pills">
            <div
              class="nav-item tab-one left-bg active left-tab-1"
              data-bs-toggle="pill"
              href="#con-01"
            >
              Node Info
            </div>
            <div
              class="nav-item tab-one tab-basic-bg left-tab-2"
              data-bs-toggle="pill"
              href="#con-02"
            >
              Related Node
            </div>
          </div>

          <div class="tab-content">
            <!--첫번째 탭-->
            <div class="tab-pane active" id="con-01">
              <!--정보내용 테이블-->
              <div class="box-table">
                <table class="basic-table">
                  <tbody>
                    <tr>
                      <td class="tr-space"></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td class="tr-title">Created</td>
                      <td>2016-06-13 00:00:00</td>
                    </tr>
                    <tr>
                      <td class="tr-title">name</td>
                      <td>
                        North korean Hackers steel thousands of military files
                        frome s,korea
                      </td>
                    </tr>
                    <tr>
                      <td class="tr-title">Modified</td>
                      <td>2020-12-16 12:22:23</td>
                    </tr>
                    <tr>
                      <td class="tr-title">Report_types</td>
                      <td>News</td>
                    </tr>
                    <tr>
                      <td class="tr-title">Report_type</td>
                      <td>TheHackerNews</td>
                    </tr>
                    <tr>
                      <td class="tr-title">Type</td>
                      <td>report</td>
                    </tr>
                    <tr>
                      <td class="tr-title">UUID</td>
                      <td>report-76asdfg-ctyt-1190-a667- 90skhjjelg 876lk</td>
                    </tr>
                    <tr>
                      <td class="tr-space"></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--첫번째 탭-->

            <!--두번째 탭-->
            <div class="tab-pane fade plr-15" id="con-02">두번째 박스 내용</div>
            <!--두번째 탭-->
          </div>

          <!--박스 탭-->
          <div class="box-tab left-bb">
            <div class="tab-one left-bg chk-on">Relation Info</div>
          </div>
          <!--뎁스 리스트-->
          <div class="box-depth">
            <ul class="left-depth-list-one">
              <!--1뎁스 리스트 한칸-->
              <li class="left-m1-1">
                <div class="depth-icon">
                  <div class="depth-plus">
                    <img src="assets/images/depth-plus.png" alt="" />
                  </div>
                </div>
                <div class="depth-title">Fisrst Step Menu</div>
                <div class="depth-num">3</div>
              </li>

              <!--2뎁스 들어갈 칸-->
              <li class="depth-under left-m1-1-under wrap-h-0">
                <ul class="left-depth-list-two">
                  <!--두번째 뎁스 리스트-->
                  <!--2뎁스 리스트-->
                  <li class="left-m2-1">
                    <div class="depth-icon">
                      <div class="depth-plus">
                        <img src="assets/images/depth-plus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Second Step Menu</div>
                    <div class="depth-num">3</div>
                  </li>
                  <!--2뎁스 리스트 끝-->
                  <!--3뎁스 들어갈 칸-->
                  <li class="depth-under left-m2-1-under wrap-h-0">
                    <ul class="left-depth-list-third">
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                    </ul>
                  </li>
                  <li class="left-m2-2">
                    <div class="depth-icon">
                      <div class="depth-minus">
                        <img src="assets/images/depth-minus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Second Step Menu</div>
                    <div class="depth-num">0</div>
                  </li>

                  <li class="left-m2-3">
                    <!--선택된 리스트에 붙는 클래스-->
                    <div class="depth-icon">
                      <div class="depth-plus">
                        <img src="assets/images/depth-plus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Second Step Menu</div>
                    <div class="depth-num">3</div>
                  </li>
                  <!--3뎁스 들어갈 칸-->
                  <li class="depth-under left-m2-3-under wrap-h-0">
                    3뎁스 들어갈 칸
                  </li>
                </ul>
              </li>

              <li class="left-m1-2">
                <div class="depth-icon">
                  <div class="depth-plus">
                    <img src="assets/images/depth-plus.png" alt="" />
                  </div>
                </div>
                <div class="depth-title">Fisrst Step Menu</div>
                <div class="depth-num">3</div>
              </li>
              <!--2뎁스 들어갈 칸-->
              <li class="depth-under left-m1-2-under wrap-h-0">
                두번째 메뉴 2뎁스
              </li>

              <li class="left-m1-3">
                <!--선택된 리스트에 붙는 클래스-->
                <div class="depth-icon">
                  <div class="depth-plus">
                    <img src="assets/images/depth-plus.png" alt="" />
                  </div>
                </div>
                <div class="depth-title">Fisrst Step Menu</div>
                <div class="depth-num">3</div>
              </li>
              <!--2뎁스 들어갈 칸-->
              <li class="depth-under left-m1-3-under wrap-h-0">
                세번째 메뉴 2뎁스
              </li>
              <li class="left-m1-4">
                <div class="depth-icon">
                  <div class="depth-minus">
                    <img src="assets/images/depth-minus.png" alt="" />
                  </div>
                </div>
                <div class="depth-title">Fisrst Step Menu</div>
                sdf
                <div class="depth-num">0</div>
              </li>
            </ul>
          </div>
        </div>

        <div class="left-foot-search-ai wrap-h-0">
          <!--검색-->
          <div class="con-search w-90p">
            <div class="con-search-input">
              <input type="text" placeholder="AI SEARCH" />
            </div>
            <div class="con-search-btn">
              <span class="material-symbols-outlined side-btn">search</span>
            </div>
          </div>
        </div>

        <div class="left-foot-search-wiki wrap-h-0">
          <!--검색-->
          <div class="con-search w-90p">
            <div class="con-search-input">
              <input type="text" placeholder="WIKI SEARCH" />
            </div>
            <div class="con-search-btn">
              <span class="material-symbols-outlined side-btn">search</span>
            </div>
          </div>
        </div>
      </div>
      <!--좌측 기본영역 끝-->

      <!--센터 영역-->
      <div class="center-box">
        <!--컨텐츠 영역-->
        <div class="main-con-box">
          <!--컨텐츠 상다 검색및 버튼 영역-->
          <div class="con-top-box">
            <!--검색-->
            <div class="con-search">
              <div class="con-search-input">
                <input type="text" />
              </div>
              <div class="con-search-btn">
                <span class="material-symbols-outlined side-btn">search</span>
              </div>
            </div>
            <!--버튼-->
            <div class="con-btn">
              <div class="btn-circle">
                <span class="material-symbols-outlined fs-25">fullscreen</span>
              </div>
              <div class="btn-circle">
                <span class="material-symbols-outlined"> add </span>
              </div>
              <div class="btn-circle">
                <span class="material-symbols-outlined"> remove </span>
              </div>
              <div class="btn-no-bg pl-10">
                <button
                  class="right-btn color-1 ai-search left-search-btn-ai pr-30 ptb-8"
                >
                  Graph serach
                </button>
              </div>
            </div>
          </div>
          <!--컨텐츠 상다 검색및 버튼 영역 끝-->

          <!--실제 컨텐츠 들어갈 자리-->
          <div class="main-contents">
            <div class="" id="viz">
              <!--flex 때문에 감싼 div-->

              <!--로딩 애니메이션-->
              <div style="display: flex">
                <div class="timer"></div>
                <div class="typing_loader"></div>
              </div>

              <div style="display: flex">
                <div class="right-mouse-wrap" style="margin-right: 20rem">
                  <!--이클래스의 우측을 따라감-->
                  경고
                  <div class="right-mouse-box">
                    <div class="title">경고/오류/공지</div>
                    <div class="con">팝업 창 컨텐츠 내용에 따라 수정 필요</div>
                  </div>
                </div>

                <div class="right-mouse-wrap">
                  <!--이클래스의 우측을 따라감-->
                  우클릭
                  <div class="right-mouse-box">
                    <ul class="over-list">
                      <li data-bs-toggle="modal" data-bs-target="#exampleModal">
                        모달나오기
                      </li>
                      <li>첫번재 메뉴</li>
                      <li>첫번재 메뉴</li>
                      <li>첫번재 메뉴</li>
                      <li>첫번재 메뉴</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- 팝오버-->
            </div>
          </div>
          <!--실제 컨텐츠 들어갈 자리 끝-->
        </div>
        <!--컨텐츠 영역 끝-->

        <!--하단 그래프영역- 가운데 영역 넓이 따라감-->
        <div class="graph-box">
          <div class="graph-prev">
            <span class="material-symbols-outlined d-none">arrow_back_ios</span>
          </div>
          <div class="graph-con">
            <div class="graph-num-out"></div>
            <div class="apex-graph" id="apexBar2"></div>
            <div class="graph-line"></div>
          </div>
          <div class="graph-next">
            <span class="material-symbols-outlined d-none"
              >arrow_forward_ios</span
            >
          </div>
        </div>
        <!--하단 그래프영역 끝-->

        <!--좌측 추가펼침영역 - 가운데 영역 덮음-->
        <div class="side-box">
          <!--  -->
          <!--박스 전체 상단 제목-->
          <div class="box-title side-bg">
            <div class="box-title-text">Display Title</div>
            <div class="box-title-btn">
              <span class="material-symbols-outlined side-btn">arrow_back</span>
            </div>
          </div>
          <!--스크롤 위해 전체 컨텐츠 감싸기-->
          <div class="box-contents-scroll">
            <!--체크박스 검색결과-->
            <div class="box-check-result">
              <div class="result-sort">
                <select name="" id="">
                  <option value="">Result Sort</option>
                  <option value="">Result Sort</option>
                </select>
              </div>
              <div class="check-result-con">
                <div class="check-result-con-text">
                  Take the CyberTrap challenge
                </div>
                <div class="check-result-con-check checkbox-wrapper-2">
                  <input type="checkbox" class="ikxBAC p-0" />
                </div>
              </div>
              <div class="check-result-con check-on">
                <div class="check-result-con-text">
                  Take the CyberTrap challenge
                </div>
                <div class="check-result-con-check checkbox-wrapper-2">
                  <input type="checkbox" class="ikxBAC p-0" checked="on" />
                </div>
              </div>
              <div class="check-result-con">
                <div class="check-result-con-text">
                  Take the CyberTrap challenge - Stop data theft Stop data theft
                </div>
                <div class="check-result-con-check checkbox-wrapper-2">
                  <input type="checkbox" class="ikxBAC p-0" />
                </div>
              </div>
            </div>
            <!--체크박스 검색결과-->

            <!--박스 탭-->
            <div class="box-tab side-bb">
              <div class="tab-one side-bg chk-on">Basic Result</div>
            </div>

            <!--기본 검색결과-->
            <div class="box-basic-result">
              <div class="basic-result-con">
                <ul class="basic-resul-list">
                  <li>Searching ofr hacking softwqar</li>
                  <li>
                    Searching ofr hacking softwqar leads to vuinerable leads to
                    vuinerable
                  </li>
                  <li>Searching ofr hacking softwqar leads to</li>
                  <li class="check-on">Searching ofr hacking</li>
                  <li class="detail">
                    <div class="detail-con">
                      <div class="title">Celebrity hacker to piead quilty</div>
                      <div class="con">
                        설명 - 납 또는 연은 화학 원소로, 기호는 PD이고 흰자
                        번호는 82이다. 무겁고, 가단성의 특성이 있는 전이후
                        금속으로, 자르고 난 단면은 푸르스름한 빛을 떠나
                        공기중에서 변색이 되어 흐릿한 회색이 된다 - 위키백과 -
                      </div>
                    </div>
                  </li>
                  <li>Searching ofr hacking softwqar</li>
                </ul>
                <div class="result-btn">
                  <button class="color-1">MORE</button>
                </div>
              </div>
            </div>

            <!--박스 탭-->
            <div class="box-tab side-bb">
              <div class="tab-one side-bg chk-on">Relation Info</div>
            </div>
            <!--뎁스 리스트-->
            <div class="box-depth">
              <ul class="side-depth-list-one">
                <!--1뎁스 리스트 한칸-->
                <li class="side-m1-1">
                  <div class="depth-icon">
                    <div class="depth-plus">
                      <img src="assets/images/depth-plus.png" alt="" />
                    </div>
                  </div>
                  <div class="depth-title">Fisrst Step Menu</div>
                  <div class="depth-num">3</div>
                </li>

                <!--2뎁스 들어갈 칸-->
                <li class="depth-under side-m1-1-under wrap-h-0">
                  <ul class="side-depth-list-two">
                    <!--두번째 뎁스 리스트-->
                    <!--2뎁스 리스트-->
                    <li class="side-m2-1">
                      <div class="depth-icon">
                        <div class="depth-plus">
                          <img src="assets/images/depth-plus.png" alt="" />
                        </div>
                      </div>
                      <div class="depth-title">Second Step Menu</div>
                      <div class="depth-num">3</div>
                    </li>
                    <!--2뎁스 리스트 끝-->
                    <!--3뎁스 들어갈 칸-->
                    <li class="depth-under side-m2-1-under wrap-h-0">
                      <ul class="side-depth-list-third">
                        <li>
                          <div class="depth-icon">
                            <div class="depth-line"></div>
                          </div>
                          <div class="depth-title">Third Step Menu</div>
                        </li>
                        <li>
                          <div class="depth-icon">
                            <div class="depth-line"></div>
                          </div>
                          <div class="depth-title">Third Step Menu</div>
                        </li>
                        <li>
                          <div class="depth-icon">
                            <div class="depth-line"></div>
                          </div>
                          <div class="depth-title">Third Step Menu</div>
                        </li>
                      </ul>
                    </li>
                    <li class="side-m2-2">
                      <div class="depth-icon">
                        <div class="depth-minus">
                          <img src="assets/images/depth-minus.png" alt="" />
                        </div>
                      </div>
                      <div class="depth-title">Second Step Menu</div>
                      <div class="depth-num">0</div>
                    </li>

                    <li class="side-m2-3">
                      <!--선택된 리스트에 붙는 클래스-->
                      <div class="depth-icon">
                        <div class="depth-plus">
                          <img src="assets/images/depth-plus.png" alt="" />
                        </div>
                      </div>
                      <div class="depth-title">Second Step Menu</div>
                      <div class="depth-num">3</div>
                    </li>
                    <!--3뎁스 들어갈 칸-->
                    <li class="depth-under side-m2-3-under wrap-h-0">
                      3뎁스 들어갈 칸
                    </li>
                  </ul>
                </li>

                <li class="side-m1-2">
                  <div class="depth-icon">
                    <div class="depth-plus">
                      <img src="assets/images/depth-plus.png" alt="" />
                    </div>
                  </div>
                  <div class="depth-title">Fisrst Step Menu</div>
                  <div class="depth-num">3</div>
                </li>
                <!--2뎁스 들어갈 칸-->
                <li class="depth-under side-m1-2-under wrap-h-0">
                  두번째 메뉴 2뎁스
                </li>

                <li class="side-m1-3">
                  <!--선택된 리스트에 붙는 클래스-->
                  <div class="depth-icon">
                    <div class="depth-plus">
                      <img src="assets/images/depth-plus.png" alt="" />
                    </div>
                  </div>
                  <div class="depth-title">Fisrst Step Menu</div>
                  <div class="depth-num">3</div>
                </li>
                <!--2뎁스 들어갈 칸-->
                <li class="depth-under side-m1-3-under wrap-h-0">
                  세번째 메뉴 2뎁스
                </li>
                <li class="side-m1-4">
                  <div class="depth-icon">
                    <div class="depth-minus">
                      <img src="assets/images/depth-minus.png" alt="" />
                    </div>
                  </div>
                  <div class="depth-title">Fisrst Step Menu</div>
                  sdf
                  <div class="depth-num">0</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--좌측 추가펼침영역 끝-->
      </div>
      <!--센터 영역 끝-->

      <!--우측 영역 - 가운데 영역 줄임-->
      <div class="right-box-space">
        <!--우측 공간을 위해-->
      </div>
      <div class="right-box">
        <!--박스 전체 상단 제목-->
        <div class="box-title right-bg ptb-0">
          <div class="box-title-tab">
            <!--박스 탭-->
            <div class="box-tab2 nav nav-pills">
              <div
                class="nav-item tab-one active right-tab-1 check-on"
                data-bs-toggle="pill"
                href="#con-03"
              >
                Graph Serch
              </div>
              <div
                class="nav-item tab-one right-tab-2"
                data-bs-toggle="pill"
                href="#con-04"
              >
                Graph multiple
              </div>
              <div
                class="nav-item tab-one right-tab-3"
                data-bs-toggle="pill"
                href="#con-05"
              >
                Filter
              </div>
            </div>
          </div>

          <div class="box-title-btn d-none">
            <span class="material-symbols-outlined right-btn"
              >arrow_forward</span
            >
          </div>
        </div>
        <!--스크롤 위해 전체 컨텐츠 감싸기-->
        <div class="box-contents-scroll">
          <!--탭내용-->
          <div class="tab-content">
            <!--첫번째 탭-->
            <div class="tab-pane active" id="con-03">
              <!--그래프 검색결과-->
              <div class="box-tab right-bb">
                <div class="tab-one right-bg chk-on">Graph Result</div>
              </div>

              <!--뎁스 리스트-->
              <div class="box-depth">
                <ul class="right-depth-list-one">
                  <!--1뎁스 리스트 한칸-->
                  <li class="right-m1-1">
                    <div class="depth-icon">
                      <div class="depth-plus">
                        <img src="assets/images/depth-plus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Report</div>
                    <div class="depth-search p-10">
                      <!--검색-->
                      <div class="con-search w-150 h-25 border-1-b2">
                        <div class="con-search-input">
                          <input type="text" placeholder="SEARCH" />
                        </div>
                        <div class="con-search-btn">
                          <span class="material-symbols-outlined side-btn"
                            >search</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>

                  <!--2뎁스 들어갈 칸-->
                  <li class="depth-under right-m1-1-under wrap-h-0">
                    <ul class="right-depth-list-third">
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">
                          Third Step Menuhird Step Menuhird Step Menuhird Step
                          Menuhird Step Menuhird Step Menu
                        </div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                      <li class="more">more</li>
                    </ul>
                  </li>

                  <li class="right-m1-2">
                    <div class="depth-icon">
                      <div class="depth-plus">
                        <img src="assets/images/depth-plus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Fisrst Step Menu</div>
                    <div class="depth-search p-10">
                      <!--검색-->
                      <div class="con-search w-150 h-25 border-1-b2">
                        <div class="con-search-input">
                          <input type="text" placeholder="SEARCH" />
                        </div>
                        <div class="con-search-btn">
                          <span class="material-symbols-outlined side-btn"
                            >search</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <!--2뎁스 들어갈 칸-->
                  <li class="depth-under right-m1-2-under wrap-h-0">
                    <ul class="right-depth-list-third">
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">
                          Third Step Menuhird Step Menuhird Step Menuhird Step
                          Menuhird Step Menuhird Step Menu
                        </div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                      <li>
                        <div class="depth-icon">
                          <div class="depth-line"></div>
                        </div>
                        <div class="depth-title">Third Step Menu</div>
                      </li>
                    </ul>
                  </li>

                  <li class="right-m1-3">
                    <!--선택된 리스트에 붙는 클래스-->
                    <div class="depth-icon">
                      <div class="depth-plus">
                        <img src="assets/images/depth-plus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Fisrst Step Menu</div>
                    <div class="depth-search p-10">
                      <!--검색-->
                      <div class="con-search w-150 h-25 border-1-b2">
                        <div class="con-search-input">
                          <input type="text" placeholder="SEARCH" />
                        </div>
                        <div class="con-search-btn">
                          <span class="material-symbols-outlined side-btn"
                            >search</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                  <!--2뎁스 들어갈 칸-->
                  <li class="depth-under right-m1-3-under wrap-h-0">
                    세번째 메뉴 2뎁스
                  </li>
                  <li class="right-m1-4">
                    <div class="depth-icon">
                      <div class="depth-minus">
                        <img src="assets/images/depth-minus.png" alt="" />
                      </div>
                    </div>
                    <div class="depth-title">Fisrst Step Menu</div>
                    <div class="depth-search p-10">
                      <!--검색-->
                      <div class="con-search w-150 h-25 border-1-b2">
                        <div class="con-search-input">
                          <input type="text" placeholder="SEARCH" />
                        </div>
                        <div class="con-search-btn">
                          <span class="material-symbols-outlined side-btn"
                            >search</span
                          >
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <!--박스 탭-->
              <div class="box-tab right-bb mt-20">
                <div class="tab-one right-bg chk-on">Basic Result</div>
              </div>

              <!--기본 검색결과-->
              <div class="box-basic-result">
                <div class="basic-result-con">
                  <ul class="basic-resul-list">
                    <li>Searching ofr hacking softwqar</li>
                    <li>
                      Searching ofr hacking softwqar leads to vuinerable leads
                      to vuinerable
                    </li>
                    <li>Searching ofr hacking softwqar leads to</li>
                    <li class="check-on">Searching ofr hacking</li>
                    <li class="detail">
                      <div class="detail-con">
                        <div class="title">
                          Celebrity hacker to piead quilty
                        </div>
                        <div class="con">
                          설명 - 납 또는 연은 화학 원소로, 기호는 PD이고 흰자
                          번호는 82이다. 무겁고, 가단성의 특성이 있는 전이후
                          금속으로, 자르고 난 단면은 푸르스름한 빛을 떠나
                          공기중에서 변색이 되어 흐릿한 회색이 된다 - 위키백과 -
                        </div>
                      </div>
                    </li>
                    <li>Searching ofr hacking softwqar</li>
                  </ul>
                  <div class="result-btn">
                    <button class="color-2">MORE</button>
                  </div>
                </div>
              </div>
            </div>
            <!--두번째 탭-->
            <div class="tab-pane pade" id="con-04">
              <!--그래프 검색 설정-->
              <div class="graph-search">
                <div class="graph-search-btn">
                  <div><button>Add</button></div>
                  <div><button>Delete</button></div>
                  <div><button>Clear</button></div>
                  <div><button class="search">Search</button></div>
                </div>
                <div class="graph-search-setting">
                  <div class="graph-sort">
                    <!--노드선택-->
                    <div class="graph-node">
                      <div class="">
                        <select name="" id="">
                          <option value="">note typo</option>
                          <option value="">type</option>
                        </select>
                      </div>
                      <div class="">
                        <input type="text" />
                      </div>
                    </div>
                    <!--타입선택-->
                    <div class="graph-type">
                      <div class="">
                        <select name="" id="" class="m-0">
                          <option value="">r typo</option>
                          <option value="">type</option>
                        </select>
                      </div>
                    </div>

                    <!--노드선택-->
                    <div class="graph-node d-none">
                      <div class="">
                        <select name="" id="">
                          <option value="">note typo</option>
                          <option value="">type</option>
                        </select>
                      </div>
                      <div class="">
                        <input type="text" />
                      </div>
                    </div>
                    <!--타입선택-->
                    <div class="graph-type d-none">
                      <div class="">
                        <select name="" id="" class="m-0">
                          <option value="">r typo</option>
                          <option value="">type</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--박스 탭-->
              <div class="box-tab right-bb mt-20">
                <div class="tab-one right-bg chk-on">
                  그래프 다중 검색결과 <span>91</span>
                </div>
              </div>

              <div class="graph-multi-box">
                <div class="graph-multi-path">
                  <div>note type</div>
                  <div>r type</div>
                  <div>note type</div>
                  <div>r type</div>
                  <div>note type</div>
                  <div>r type</div>
                  <div>note type</div>
                  <div>r type</div>
                </div>

                <!--기본 검색결과-->
                <div class="box-basic-result2">
                  <div class="basic-result-con2">
                    <ul class="basic-resul-list2">
                      <li>
                        note type - r type - note type - r type - note type - r
                        type - note type - r type - note type - note type - r
                        type - note type
                      </li>
                      <li>
                        Searching ofr hacking softwqar leads to vuinerable leads
                        to vuinerable
                      </li>
                      <li>Searching ofr hacking softwqar leads to</li>
                      <li class="check-on">Searching ofr hacking</li>
                      <li>Searching ofr hacking softwqar</li>
                    </ul>
                    <div class="result-btn">
                      <button class="color-2">MORE</button>
                    </div>
                  </div>
                </div>
              </div>

              <!--박스 탭-->
              <div class="box-tab right-bb mt-20">
                <div class="tab-one right-bg chk-on">AI Result</div>
              </div>

              <!--기본 검색결과-->
              <div class="box-basic-result">
                <div class="basic-result-con">
                  <ul class="basic-resul-list">
                    <li>Searching ofr hacking softwqar</li>
                    <li>
                      Searching ofr hacking softwqar leads to vuinerable leads
                      to vuinerable
                    </li>
                    <li>Searching ofr hacking softwqar leads to</li>
                    <li class="check-on">Searching ofr hacking</li>
                    <li class="detail">
                      <div class="detail-con">
                        <div class="title">
                          Celebrity hacker to piead quilty
                        </div>
                        <div class="con">
                          설명 - 납 또는 연은 화학 원소로, 기호는 PD이고 흰자
                          번호는 82이다. 무겁고, 가단성의 특성이 있는 전이후
                          금속으로, 자르고 난 단면은 푸르스름한 빛을 떠나
                          공기중에서 변색이 되어 흐릿한 회색이 된다 - 위키백과 -
                        </div>
                      </div>
                    </li>
                    <li>Searching ofr hacking softwqar</li>
                  </ul>
                  <div class="result-btn">
                    <button class="color-2">MORE</button>
                  </div>
                </div>
              </div>
            </div>
            <!--세번째 탭-->
            <div class="tab-pane fade" id="con-05">
              <!--그래프 필터-->
              <div class="graph-filter-box">
                <div class="graph-filter-reset">
                  <div class="space-plus">
                    <img src="assets/images/depth-plus.png" alt="" />
                  </div>
                  <div class="space-minus">
                    <img src="assets/images/depth-minus.png" alt="" />
                  </div>
                  <div class="title">Filter Type</div>
                  <div class="btn"><button>RESET</button></div>
                </div>
                <div class="filter-list-group">
                  <div class="graph-filter-list">
                    <div class="name">Protocol(3)</div>
                    <div class="choice">
                      <div class="not"><button>not</button></div>
                      <div class="and"><button class="choice">and</button></div>
                      <div class="or"><button>or</button></div>
                    </div>
                  </div>
                  <div class="graph-filter-list">
                    <div class="name">Localhost(3)</div>
                    <div class="choice">
                      <div class="not"><button>not</button></div>
                      <div class="and"><button>and</button></div>
                      <div class="or"><button>or</button></div>
                    </div>
                  </div>
                  <div class="graph-filter-list">
                    <div class="name">Platform(3)</div>
                    <div class="choice">
                      <div class="not"><button>not</button></div>
                      <div class="and"><button>and</button></div>
                      <div class="or"><button>or</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <!--그래프 필터-->
              <div class="graph-filter-box">
                <div class="graph-filter-reset">
                  <div class="space-plus">
                    <img src="assets/images/depth-plus.png" alt="" />
                  </div>
                  <div class="space-minus">
                    <img src="assets/images/depth-minus.png" alt="" />
                  </div>
                  <div class="title">Filter Type</div>
                  <div class="btn"><button>RESET</button></div>
                </div>
                <div class="graph-filter-list">
                  <div class="name">Software(3)</div>
                  <div class="choice">
                    <div class="not"><button>not</button></div>
                    <div class="and"><button>and</button></div>
                    <div class="or"><button>or</button></div>
                  </div>
                </div>
                <div class="graph-filter-list">
                  <div class="name">Group(3)</div>
                  <div class="choice">
                    <div class="not"><button>not</button></div>
                    <div class="and"><button>and</button></div>
                    <div class="or"><button>or</button></div>
                  </div>
                </div>
                <div class="graph-filter-list">
                  <div class="name">Url(3)</div>
                  <div class="choice">
                    <div class="not"><button>not</button></div>
                    <div class="and"><button>and</button></div>
                    <div class="or"><button class="choice">or</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--우측 영역 끝-->

      <!--ai 채팅 -->
      <div class="right-chat-box-ai wrap-h-0 mover">
        <div class="chat-top">
          <div class="chat-title">AI CHAT</div>
          <div class="chat-close right-search-btn-ai">
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>
        <div class="chat-con">
          <div class="chat-view">
            <div class="chat-text-left">
              <div class="chat-text-con">
                안녕하세요. 테스트 입니다.안녕하세요. 테스트 입니다.안녕하세요.
                테스트 입니다.안녕하세요. 테스트 입니다.
              </div>
              <div class="chat-text-date">오후 13:30</div>
            </div>
            <div class="chat-text-left">
              <div class="chat-text-con">안녕하세요.</div>
              <div class="chat-text-date">오후 13:30</div>
            </div>
            <div class="chat-text-right">
              <div class="chat-text-date">오후 13:30</div>
              <div class="chat-text-con mychat">
                안녕하세요. 테스트 입니다.안녕하세요. 테스트 입니다.안녕하세요.
                테스트 입니다.안녕하세요. 테스트 입니다.
              </div>
            </div>
            <div class="chat-text-left">
              <div class="chat-text-con">안녕하세요.</div>
              <div class="chat-text-date">오후 13:30</div>
            </div>
            <div class="chat-text-right">
              <div class="chat-text-date">오후 13:30</div>
              <div class="chat-text-con mychat">
                안녕하세요. 테스트 입니다.안녕하세요. 테스트 입니다.안녕하세요.
                테스트 입니다.안녕하세요. 테스트 입니다.
              </div>
            </div>
          </div>
        </div>
        <div class="chat-input">
          <div class="chat-input-form p-5">
            <input type="text" class="w-full" />
          </div>
          <div class="chat-input-btn p-5">
            <span class="material-symbols-outlined color-sub-1 cpoint">
              send
            </span>
          </div>
        </div>
      </div>

      <!--publick 채팅 -->
      <div class="right-chat-box-public wrap-h-0 mover2">
        <div class="chat-top">
          <div class="chat-title">PUBLIC CHAT</div>
          <div class="chat-close right-search-btn-public">
            <span class="material-symbols-outlined"> close </span>
          </div>
        </div>
        <div class="chat-con">
          두번째꺼는 드래그 이동을 위해 스크립트 수정이 필요합니다.
        </div>
      </div>
    </section>

    <!--본문 전체 끝--------------------------------------------------------------------------->

    <!--하단-->
    <section class="bottom-wrap">
      <div class="bottom-con">
        <div class="left">
          <div class="logo">
            <img src="assets/images/logo-nsr.png" alt="" />
          </div>
          <div class="search">
            <button class="color-1 ai-search left-search-btn-ai">AI</button>
            <button class="ai-search left-search-btn-wiki">WIKI</button>
          </div>
        </div>
        <div class="center">
          <button class="graph-btn">TIME GRAPH ON</button>
        </div>
        <div class="right">
          <button class="color-1 right-search-btn-ai">AI CHAT</button>
          <button class="right-search-btn-public">PUBLIC CHAT</button>
        </div>
      </div>
    </section>

    <!-- Modal 마우스 우클릭 후 메뉴 선택 모달 -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" style="z-index: 0">
        <div class="modal-content">
          <div class="mo-title">
            <div class="text">모달창 제목</div>
            <div class="colse">
              <span
                class="material-symbols-outlined"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                close
              </span>
            </div>
          </div>
          <div class="mo-content">
            <div class="mo-con-oneline">
              <div class="con-title">제목</div>
              <div class="con-from"><input type="text" /></div>
            </div>
            <div class="mo-con-oneline">
              <div class="con-title">제목</div>
              <div class="con-from">
                <select name="" id="">
                  <option value="">선택</option>
                </select>
              </div>
            </div>
            <div class="mo-con-oneline">
              <div class="con-title">제목</div>
              <div class="con-from"><input type="text" /></div>
              <div class="con-btn"><button class="color-1">확인</button></div>
            </div>
            <div class="mo-con-oneline">
              <div class="con-title">제목</div>
              <div class="con-from"><input type="text" /></div>
            </div>
            <div class="mo-con-oneline b-0">
              <div class="con-btn-foot">
                <button class="color-2">취소</button>
                <button class="color-1">저장</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Plugin js for this page -->

    <script src="../assets/js/jquery-3.7.0.min.js"></script>
    <!-- 제이쿼리 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 제이쿼리 최신버전 -->
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <!-- 부트스트랩 번들 -->
    <script src="../assets/js/color-change.js"></script>
    <!-- 컬러바꾸기 -->
    <script src="../assets/js/made.js"></script>
    <!-- 페이지 각종설정 -->
    <script src="../assets/js/apexcharts.min.js"></script>
    <script src="../assets/js/apexcharts-light.js"></script>
  </body>
</html>
